extends ../layouts/pages
block append head
  block title
    - var title='UFPA Graphs';

block content
  .main
    .controls
      button#import-modal-btn.btn.btn-primary Import
      span &nbsp;
      a.btn.btn-dark(href="https://github.com/graphs-class/ufpa-graph", target="_blank")
        i.fa.fa-github &nbsp;
        span About
      button#dijkstra-btn.btn.btn-success Dijkstra


    .faces
      button.change-face-btn.btn(data-face=0, disabled=true) Relations
      button.change-face-btn.btn.btn-info(data-face=1, disabled=false) Minimum Spanning Tree
      button.change-face-btn.btn.btn-info(data-face=2, disabled=false) General

    #network &nbsp;

  input#import-file(type="file", multiple, style="display: none")
